@model IEnumerable<Auto_Parts_2019.Models.Parts.DTO._OrderDTO>

    @{
        ViewData["Title"] = "Basket";
    }

    <h2>Корзина</h2>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title></title>
        <link href="~/simplebox/simplebox.css" rel="stylesheet">
        <link href="~/js/basket.js" aria- />
    </head>
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Number)</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) грн.
                </td>                
                <td>
                    <input type="number" id="count" step="1" min="1" max="10" data-id="@item.ID" class="cnt" value="@Html.DisplayFor(modelItem => item.Quantity)"/> шт.
                </td>
                <td>
                    <h4><a asp-action="DeleteBasket" asp-route-PartID="@item.ID" class="fas fa-trash-alt"></a></h4>
                </td>
            </tr>

            } 
        </tbody>
    </table>

    

<div  class="row">
    <div class="outline: none">
        
        <form asp-action="Create_Basket"  method="post">
            <p>
                <label for="comment">Ваш комментарий:</label><br />
                <textarea  name="comment" id="comment" style="width:100%" rows="10" placeholder="Не более 200 символов" maxlength="200"></textarea>
            </p>
            <p>
                <input type="submit" data-toggle="modal" data-target=".bs-example-modal-sm" value="Заказать" />
            </p>
        </form>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <h3><strong>Заказ отправлен!</strong></h3>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">На Главную</a>
</div>

