@model IEnumerable<Auto_Parts_2019.Models.Parts.Part>

@{
    ViewData["Title"] = "В наличии: ";
}


<h2>@ViewData["Title"]</h2>
<div>
    <form id="number" class="text-left" action="/search" method="post" name="number" style="position: relative; margin-bottom: 10px;">
        <input id="number" style="width: 100%;outline: none; padding: 10px 50px 10px 12px; font-size: 16px; border: 2px solid #6699cc; border-radius: 25px; background-color: #f8f8f8;" name="number" type="text" value="" data-autocomplete-sourse='@Url.Action("AutocompleteSearch","Home")' placeholder="Поиск по номеру" />
        <button style="position: absolute;outline: none; top: 5px; right:5px; padding: 5px; border: 2px solid #6699cc; border-radius: 20px; font-size: 16px; color: #fff; cursor: pointer; background: #6699cc;" title="Поиск" type="submit">Поиск</button>
    </form>
</div>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <strong>@Html.DisplayFor(modelItem => item.Number)</strong>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) грн.
            </td>
            @if (item.Quantity == 0)
            {
                <td>
                    <font color="red">ожидается.</font>
                </td>
            }
            @if (item.Quantity == 777)
            {
                <td>
                    <font color="gren">больше</font> 4 шт.
                </td>
            }
            @if (item.Quantity != 777 && item.Quantity > 0)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity) шт.
                </td>
            }
            <td>
                @if (item.Foto_link != null)
                {


                <td>
                    <a rel="simplebox" href="~/images/Foto_Zimmermann/Foto_Zimmermann/@item.Foto_link.Replace(@"\", @"/").Replace(@"~/images/Foto_Zimmermann/Foto_Zimmermann/", "").ToString()">
                        <img src="~/images/Foto_Zimmermann/Foto_Zimmermann/@item.Foto_link.Replace(@"\", @"/").Replace(@"~/images/Foto_Zimmermann/Foto_Zimmermann/", "").ToString()" class="img-responsive" width="150" height="150" />
                    </a>

                </td>
            }
            else
            {
                <td>
                    <a rel="simplebox" href="~/images/Foto_Zimmermann/Foto_Zimmermann/NoFoto.jpg">
                        <img src="~/images/Foto_Zimmermann/Foto_Zimmermann/NoFoto.jpg" class="img-responsive" width="150" height="150" />
                    </a>

                </td>

            }
                @if (item.Quantity > 0)
                {
                    <td>
                        <h3><a asp-action="addtocart" asp-route-PartID="@item.ID" class="fas fa-shopping-cart"></a></h3>
                    </td>
                }
                </tr>
            }

    </tbody>

</table>
<div>
    <a asp-controller="Home" asp-action="About">Поиск по каталогу</a>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">На Главую</a>
</div>
