@model IEnumerable<Auto_Parts_2019.Models.Parts.Part>

@{
    ViewData["Title"] = "В наличии: ";
}


<h2>@ViewData["Title"]</h2>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Number)</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) грн.
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity) шт.
                </td>
                <td>
                    @if (item.Foto_link != null)
                    {


                    <td>
                        <a rel="simplebox" href="~/images/Foto_Zimmermann/Foto_Zimmermann/@item.Foto_link.Replace(@"\", @"/").Replace(@"~/images/Foto_Zimmermann/Foto_Zimmermann/", "").ToString()">
                            <img src="~/images/Foto_Zimmermann/Foto_Zimmermann/@item.Foto_link.Replace(@"\", @"/").Replace(@"~/images/Foto_Zimmermann/Foto_Zimmermann/", "").ToString()" class="img-responsive" width="150" height="150" />
                        </a>

                    </td>
                }
                else
                {
                    <td>
                        <a rel="simplebox" href="~/images/Foto_Zimmermann/Foto_Zimmermann/NoFoto.jpg">
                            <img src="~/images/Foto_Zimmermann/Foto_Zimmermann/NoFoto.jpg" class="img-responsive" width="150" height="150" />
                        </a>

                    </td>

                }
                    <td>
                        <h3><a asp-action="addtocart" asp-route-PartID="@item.ID" class="fas fa-shopping-cart"></a></h3>
                    </td>
                </tr>
            }

    </tbody>

</table>
<div>
    <a asp-controller="Home" asp-action="About">Поиск по каталогу</a>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">На Главую</a>
</div>
